<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | prepend: site.baseurl_root | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/font-awesome.css' | prepend: site.baseurl_root | relative_url }}">
    <meta name="viewport" content="width=device-width">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <img class="profile" src="{{ site.profile_pic }}">
        <h1><a class="title" href="/">{{ site.title }}</a></h1>

        <p><small>I'm a technology student from ESF and soon I will go to 42 School</small></p>
        <p><small>I am a libre software evangelist. I have been using GNU/Linux starting with Ubuntu 12.04. My favorite text editor is Vim.</small></p>

        <p><small>E-Mail: pro.micaelandre@gmail.com</small></p>

      </header>
      <section>
        {{ content }}

        <p>If you don't understand French, you can translate the page:</p>
        <div id="google_translate_element"></div><script type="text/javascript">
        function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'fr', layout: google.translate.TranslateElement.FloatPosition.TOP_LEFT}, 'google_translate_element');
        }
        </script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a>
          Rebuilded by <a href="https://github.com/mickaeldias">@mickaeldias</a> with <a href="../LICENSE">MIT License</a>
        </small></p>

        <p><small>This site don't use cookies. Learn more about the <a href="http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=CELEX:32002L0058:EN:HTML">EU legislation</a></small></p>
      </footer>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
</body>
</html>
